@import 'https://unpkg.com/tailwindcss@3.2.4/src/css/preflight.css';
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Silkscreen&display=swap');
/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

html {
	background: $background !important;
	font-size: 10px;
}

* {
	transition: $transition;
	//outline: 1px solid red;
}

*::selection {
	background-color: $green-primary;
}

*:focus {
	outline: 2px;
	outline-color: $green-light;
}

h1 {
	font-family: 'Silkscreen', monospace;
	font-size: 6.4rem;
	line-height: 8.192rem;
	color: $green-primary;
}

h2 {
	font-family: 'Silkscreen', monospace;
	font-size: 4.8rem;
	line-height: 6.144rem;
	color: $green-primary;
}

h3 {
	font-family: 'Silkscreen', monospace;
	font-size: 3rem;
	line-height: 3.8rem;
	color: $green-primary;
}

h4 {
	font-family: 'Silkscreen', monospace;
	font-size: 2.4rem;
	line-height: 3.072rem;
	color: $green-primary;
}

.text-base {
	font-family: 'Fira Code', monospace;
	font-size: 1.6rem;
	line-height: 2.4rem;
	text-decoration: none;
	color: white;
}

.text-sm {
	@include text-sm;
}

.text-center {
	text-align: center;
}

.silkscreen {
	font-family: 'Silkscreen', monospace;
}

a {
	text-decoration: underline;
}

.white {
	color: white;
}

body {
	font-family: 'Fira Code', monospace;
	font-size: 1.6rem;
	line-height: 2.4rem;
	text-decoration: none;
	color: white;
	@include scrollbars(0.5rem, $green-darkest, $background);
}

.width-max {
	width: 100%;
}

.grey {
	color: $grey;

	&-hover:hover {
		color: lighten($grey, 20);
	}
}

.green {
	color: $green-primary;

	&-hover:hover {
		color: lighten($green-primary, 20);
	}
}

.menu-button {
	display: flex;
	align-items: center;
	gap: 1rem;
}

@media only screen and (max-width:1500px) {
html{
	overflow:scroll
}
	
}