/* Variables and mixins declared here will be available in all other SCSS files */
$background: #0e1015;
$background-light: lighten($background, 10);

// Zelená => Primary barva
$green-primary: #46bc46;
$green-dark: darken($green-primary, 10);
$green-darker: darken($green-dark, 10);
$green-darkest: darken($green-darker, 10);
$green-light: lighten($green-primary, 10);
$green-lighter: lighten($green-light, 10);
$green-lightest: lighten($green-lighter, 10);

// Modrá
$blue-primary: #4141e5;
$blue-dark: darken($blue-primary, 10);
$blue-darker: darken($blue-dark, 10);
$blue-darkest: darken($blue-darker, 10);
$blue-light: lighten($blue-primary, 10);
$blue-lighter: lighten($blue-light, 10);
$blue-lightest: lighten($blue-lighter, 10);

// Červená
$red-primary: #ff1b1b;
$red-dark: darken($red-primary, 10);
$red-darker: darken($red-dark, 10);
$red-darkest: darken($red-darker, 10);
$red-light: lighten($red-primary, 10);
$red-lighter: lighten($red-light, 10);
$red-lightest: lighten($red-lighter, 10);

$grey: #626262;
$transition: 120ms;

@mixin center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@mixin nav-section {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
	& > h3 {
		color: white;
	}
}

@mixin scrollbars($size: 10px, $foreground-color: #999, $background-color: #333, $margin: 0.2rem) {
	// For Chrome & Safari
	&::-webkit-scrollbar {
		width: $size;
		height: $size;
		margin: $margin;
	}
	&::-webkit-scrollbar-thumb {
		background: $foreground-color;
	}
	&::-webkit-scrollbar-track {
		background: $background-color;
	}

	// Standard version (Firefox only for now)
	scrollbar-color: $foreground-color $background-color;
	scrollbar-width: 10px;
}

@mixin menu-child {
	padding: 0.8rem;
	display: flex;
	align-items: center;
	gap: 1rem;
	width: 100%;
}

@mixin text-sm {
	font-family: 'Fira Code', monospace;
	font-size: 1.4rem;
	line-height: 2.4rem;
	text-decoration: none;
	color: white;
}
